# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# js
node_modules
npm-debug.log

# python
*.pyc
.pyenv

# editors
.vscode
.idea
